@charset "utf-8";
/* 초기확 */
*, ::before, *::after {
   box-sizing: border-box;
}
body {
   margin: 0;
}
.header, .visual, .mainContents, .slogan, .footer {
   width: 940px;
   margin: 0 auto;
}
.header {
   box-sizing: -box;
   background-color: pink;
   height: 10vh;
}
.visual {
   background-color: lime;
   height: 120px;
}
.mainContents {
   min-height: 400px;
   background-color: skyblue;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 30px;
}
.group {
   background-color: yellow;
}
.group1 {
   flex-basis: 250px;
   /* flex-grow: 2;
   flex-shrink: 1; */
   background-color: orange;
}
.group2 {
   flex-basis: 380px;
   /* flex-grow: 1; */
   background-color: lime;
}
.group3 {
   flex-basis: 190px;
   /* flex-grow: 2; */
}
.slogan {
   background-color: orange;
   padding: 15px 0;
}
.footerBg {
   background-color: silver;
   padding: 15px 0;
}
.footer {
   background-color: yellow;
}